header {
    color: #bcc4cc;
    background-color: rgb(229, 92, 52);
}

footer {
    background-color: rgb(229, 92, 52);
    margin-top: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("bg.png");
}
.main_img {
    max-height: 1049px;
    background-size: cover;
    background-repeat: no-repeat;
}
