header {
    color: #bcc4cc;
    background-color: rgb(229, 92, 52);
}

footer {
    background-color: rgb(229, 92, 52);
    margin-top: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}