{% extends 'base2.html' %}

{% block title %}
Main Page
{% endblock %}

{% block body%}

{% with messages = get_flashed_messages()%}
  {%if messages%}
    {%for msg in messages%}
        <div class="alert-error">{{msg}}</div>
    {%endfor%}  
  {%endif%}
{%endwith%}

<div class="container-fluid">
<div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to our system. Now you can write your lists, update and delete them. You can see all your lists.</h1>
        <p class="col-lg-10 fs-4">This website will help you to remember what you need to buy.</p>
      </div>
    <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
        <img src="{{url_for('static', filename='index2.png')}}" class="img-fluid">
    </div>
</div>
</div>
{% endblock %}