{% extends 'base2.html' %}

{% block title %}
Register
{% endblock %}

{% block styles %}
.container-fluid{
  padding: 0;
  margin: 0;
}
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages()%}
  {%if messages%}
    {%for msg in messages%}
      <div class="alert-error">{{msg}}</div>
    {%endfor%}  
  {%endif%}
{%endwith%}

<div class="container">
  <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to the place where you can write your blog</h1>
          <p class="col-lg-10 fs-4">This website will help you to write your own blog abd save it into a safe place. </p>
        </div>
      <div class="col-lg-4 col-md-10 mb-4 mb-md-0">
          <img src="{{url_for('static', filename='reg.png')}}" class="img-fluid">
      </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.email }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit() }}
        </form>
  </div>
</div>
{% endblock %}
